<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}" style="text-align: center">
    회원 가입을 완료하기 위해 <a th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<div class="alert alert-dismissible fade show text-center" role="alert" th:classappend="${alertType}" th:if="${message}">
    <span th:text="${message}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">





    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>