<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <div class="row justify-content-center">
        <div th:if="${param.error}" class="alert alert-danger text-center" role="alert">아이디와 비밀번호가 일치하지 않습니다.</div>

        <form class="needs-validation col-sm-6" th:action method="post" novalidate>
            <div class="form-group pb-2">
                <label for="username">아이디</label>
                <input id="username" type="text" name="username" class="form-control" aria-describedby="usernameHelp" required>
                <small id="usernameHelp" class="form-text text-muted">
                    가입할 때 사용한 아이디를 입력하세요.
                </small>
                <small class="invalid-feedback">아이디를 입력하세요.</small>
            </div>
            <div class="form-group pb-3">
                <label for="password">비밀번호</label>
                <input id="password" type="password" name="password" class="form-control" aria-describedby="passwordHelp" required>
                <small id="passwordHelp" class="form-text text-muted">
                    비밀번호가 기억나지 않는다면, <a th:href="@{/find-password}">비밀번호 찾기</a>를 통해 비밀번호를 찾으세요.
                </small>
                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
            </div>

            <div class="form-group d-grid gap-2">
                <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">로그인</button>
                <small id="submitHelp" class="form-text text-muted">계정이 없으시다면 <a th:href="@{/sign-up}">계정을 먼저 만드세요.</a></small>
            </div>
        </form>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>